body{
    background-color: #ddd;
}
header{
    width: 100%;
    height: 50px;
    background-color: #fff;
    z-index: 1000;
    border-bottom: 1px solid #e6e6e6;
    position: fixed;
    top: 0px;
}
header img{
    width: 16px;
    padding: 17px;
    margin-left: 20px;
    cursor: pointer;
    opacity: 0.2;
}
header img:hover{
    opacity: 0.6;
}
nav{
    width: 240px;
    height: 100vh;
    background-color: #fff;
    display: none;
}
nav ul li p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    text-decoration: none;
    color: red;
    padding-bottom: 10px;
}
nav ul{
    list-style: none;

}
nav a:link, a:hover, a:visited, a:active{
    text-decoration: none;
}
.box{
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 350px;
    height: 200px;
    outline: dashed 1px black;
    /* Center child horizontally*/
    display: flex;
    justify-content: center;
}
.title{
    width: 50px;
    height: 50px;
    background-color: red;
}
.content{
    width: 50px;
    height: 50px;
    background-color: red;
}